/* DUL CUSTOMIZED styles for Bootstrap Media Object  */
/* ================================================  */

a.media-dul-title-link {
  font-size: 15px;
  line-height: 1.2rem;
  display: inline-block;
  color: $gray-dark;
  &:hover {
    color: $link-hover-color;
  }
}
