#styleguide-nav {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;

  /* When in admin view, leave room for the nav */
  body.toolbar-fixed.toolbar-horizontal & {
    top: 78px;
  }
  /* In content edit/preview mode, don't stick */
  .cke_editable & {
    position: static;
  }
}

/* Make a color map so we can use functions to */
/* dynamically create classes for each one.    */
$dul-colors: () !default;
$dul-colors: map-merge(
    (
      "duke-navy-blue":   $duke-navy-blue,
      "duke-royal-blue":  $duke-royal-blue,
      "copper":           $copper,
      "persimmon":        $persimmon,
      "dandelion":        $dandelion,
      "piedmont":         $piedmont,
      "eno":              $eno,
      "magnolia":         $magnolia,
      "prussian-blue":    $prussian-blue,
      "shale-blue":       $shale-blue,
      "ironweed":         $ironweed,
      "hatteras":         $hatteras,
      "whisper-gray":     $whisper-gray,
      "ginger-beer":      $ginger-beer,
      "dogwood":          $dogwood,
      "shackleford":      $shackleford,
      "cast-iron":        $cast-iron,
      "graphite":         $graphite,
      "granite":          $granite,
      "limestone":        $limestone
    ),
    $dul-colors
);

$dul-colors: map-merge(
    (
      "primary":                $primary,
      "secondary":              $secondary,
      "success":                $success,
      "info":                   $info,
      "warning":                $warning,
      "danger":                 $danger,
      "dul-masthead-blue":      $dul-masthead-blue,
      "dul-dulcet-lightblue":   $dul-dulcet-lightblue,
      "light":                  $light,
      "dark":                   $dark,
      "link-color":             $link-color,
      "link-hover-color":       $link-hover-color
    ),
    $dul-colors
);

#style-guide-color-swatch {
  .color-swatch {
    text-align: center;
    display: block;
    height: 90px;
    width: 90px;
    font-size: 0.85em;
    margin: 0 auto;
  }
  .circle-swatches code {
    text-align: center;
    display: block;
    font-size: 0.75em;
  }
  .tint-swatch {
    height: 90px;
  }
}

/* See https://getbootstrap.com/docs/4.0/getting-started/theming/#color-contrast */
@each $color, $value in $dul-colors {
  .swatch-#{$color} {
    color: color-yiq($value);
    background: #{$value};
    text-align: center;
    padding-top: 25%;
  }
}

@each $pct in [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100] {
  .dul-masthead-blue-tint-#{$pct} {
    background-color: tint($dul-masthead-blue, $pct);
  }
  .dul-masthead-blue-shade-#{$pct} {
    background-color: shade($dul-masthead-blue, $pct);
  }
}
