{#
/**
 * @file
 * Template for DUL custom Asidebox Option layout.
 * Modeled after Radix Layouts.
 *
 * Variables:
 * - $css_id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 * panel of the layout. This layout supports the following sections:
 */
#}
{%
    set container_classes = [
    'panel-display',
    'dul-asidebox-option',
    'clearfix'
]
%}
{% if classes %}
    {% set container_classes = container_classes|merge(classes) %}
{% endif %}
{% if class %}
    {% set container_classes = container_classes|merge(class) %}
{% endif %}

<div {{ attributes.addClass(container_classes) }}{% if css_id %}{{ css_id }}{% endif %}>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 dul-layouts-content panel-panel">
        <div {{ region_attributes.contentmain.addClass('panel-panel-inner') }}>
          {% if content.asidebox|render %}
            <div class="col-md-3 float-md-right dul-layouts-asidebox-option panel-panel">
              <div class="card" {{ region_attributes.asidebox.addClass('panel-panel-inner') }}>
                {% if content.asideboxheader|render %}
                  <div class="card-header">
                    {{ content.asideboxheader }}
                  </div>
                {% endif %}
                <div class="card-body">
                  {{ content.asidebox }}
                </div>
              </div>
            </div>
          {% endif %}
          {% if content.contentmain %}
            {{ content.contentmain }}
          {% endif %}
        </div>
      </div>

    </div>
  </div>

</div><!-- /.dul-asidebox-option -->
