<div {{ attributes.addClass('dul-3col-6-4-2') }}>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div {{ region_attributes.column1 }}>
          {{ content.column1 }}
        </div>
      </div>
      <div class="col-lg-4 col-md-3">
        <div {{ region_attributes.column2 }}>
          {{ content.column2 }}
        </div>
      </div>
      <div class="col-lg-2 col-md-3">
        <div {{ region_attributes.column3 }}>
          {{ content.column3 }}
        </div>
      </div>
    </div>
  </div>
</div>
