<div {{ attributes.addClass('dul-1col-12') }}>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div {{ region_attributes.column1 }}>
          {{ content.column1 }}
        </div>
      </div>
    </div>
  </div>
</div>
