<div {{ attributes.addClass('dul-2col-7-5') }}>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7 col-md-7">
        <div {{ region_attributes.column1 }}>
          {{ content.column1 }}
        </div>
      </div>
      <div class="col-lg-5 col-md-5">
        <div {{ region_attributes.column2 }}>
          {{ content.column2 }}
        </div>
      </div>
    </div>
  </div>
</div>
