<div {{ attributes.addClass('dul-4col-5-3-2-2') }}>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 col-md-8">
        <div {{ region_attributes.column1 }}>
          {{ content.column1 }}
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div {{ region_attributes.column2 }}>
          {{ content.column2 }}
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <div {{ region_attributes.column3 }}>
          {{ content.column3 }}
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <div {{ region_attributes.column4 }}>
          {{ content.column4 }}
        </div>
      </div>
    </div>
  </div>
</div>
