{#
/**
 * @file
 * Template for DUL Dulcet Footer Local User Login
 */
#}
 <div class="block block--drupal9-dulcet-account-menu">
  <ul class="nav navbar-nav">
    <li class="nav-item dropdown">
    {% if logged_in %}
      <a href="/user/logout" class="nav-link">Log out</a>
    {% else %}
      <a href="/user" class="nav-link">Local User Log in</a>
    {% endif %}
    </li>
  </ul>
</div>

