{#
/**
 * @file
 * Template for exhibits masthead (used for /exhibits/* pages).
 */
#}

<div id="zone-masthead" class="zone zone-masthead exhibits-masthead">
  <div class="container">

    <header id="exhibits-masthead">
      
      <div class="row">
        <div class="col-md-12 d-flex pl-0 pr-0">

          <div class="dul-logo">
            <a href="{{ url('<front>') }}" aria-label="Library Homepage">
              <img class="img-fluid" src="/{{ directory }}/images/masthead/exhibits/logo.png" alt="Duke University Libraries">
            </a>
          </div>

          <div class="exhibits-logo">
            <a href="/exhibits" title="Library Exhibits">
              <img class="img-fluid" src="/{{ directory }}/images/masthead/exhibits/exhibits_logo.png" alt="Exhibits">
            </a>
          </div>

          <div class="logo-spacer flex-fill">
            <img src="/{{ directory }}/images/masthead/exhibits/exhibits_mast_arrow.png" alt="">
          </div>
        
        </div>

      </div>

    </header>

  </div>

</div>

<div id="exhibits_menu" class="zone">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        
        <nav class="navbar navbar-expand-md">
          
          <button id="exhibits-navbar-btn" class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#exhibits-navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Exhibits navigation">
            Menu&nbsp; <span class="navbar-toggler-icon"></span>
          </button>

          <div id="exhibits-navbar" class="collapse navbar-collapse">
            {{block_view}}
          </div>

        </nav>

      </div>
    </div>
  </div>
</div>
