{#
/** 
 * Overrides Drupal core html.html.twig template, especially
 * to be able to supply <head> tags e.g., for favicons, in a sensible way.
 *
 * This file very seldom changes in core.
 * Last checked for updates: Drupal 9.2.3. See:
 * https://github.com/drupal/drupal/blob/9.3.x/core/modules/system/templates/html.html.twig
 */
#}
{#
/**
 * @file
 * Default theme implementation for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#}

{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}

<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">

    {# DUL CUSTOMIZATION: add custom favicon tags #}
    {# see https://tinyurl.com/favicons-in-2021 #}

    <link rel="icon" href="/themes/custom/drupal9_dulcet/images/favicon/favicon.ico" sizes="any">
    <link rel="icon" href="/themes/custom/drupal9_dulcet/images/favicon/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" sizes="180x180" href="/themes/custom/drupal9_dulcet/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/themes/custom/drupal9_dulcet/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/themes/custom/drupal9_dulcet/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/themes/custom/drupal9_dulcet/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/themes/custom/drupal9_dulcet/images/favicon/safari-pinned-tab.svg" color="#053482">
    <meta name="msapplication-TileColor" content="#053482">
    <meta name="theme-color" content="#ffffff">

    {# DUL CUSTOMIZATION: add Duke OIT alert bar styles #}
    {# See https://oit.duke.edu/what-we-do/applications/dukealert-bar #}
    <link rel="stylesheet" href="https://alertbar.oit.duke.edu/sites/all/themes/blackwell/css/alert.css" type="text/css" media="Screen" />

  </head>
  <body {{ attributes.addClass(body_classes) }}>
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main-content" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
