/* ============================================================== */
/* Color functions for DUL                                        */
/* See https://css-tricks.com/snippets/sass/tint-shade-functions/ */
/* ============================================================== */

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

/* OVERRIDE NATIVE SCSS lighten() & darken() functions with tint() & shade(); */
/* Bootstrap 5 will stop using lighten() and darken() because they don't work */
/* as well as adding black/white to the color. */

@function lighten($color, $amount) {
  @return mix(white, $color, $amount);
}

@function darken($color, $amount) {
  @return mix(black, $color, $amount);
}
