// Typography
// -----------------------------------------------------------------------------

// ==============================
// Headings
// ==============================

// Ideally we wouldn't need !important, but elsewhere in
// the pipeline, headings are getting set with font-weights
// that we don't have or want.

h1 {
  color: #111;
  font-weight: 600 !important;

  /* keep these reasonably sized on small viewports */
  @include media-breakpoint-down(sm) {
    font-size: 2.5rem !important;
  }

}

h2 {
  color: #222;
  font-weight: 600 !important;
}

h3, h4, h5, h6 {
  color: #333;
  font-weight: 400 !important;
}

// ==============================
// Card Text
// ==============================

.card-title {
  color: inherit;
}

// ============================================
// Muted (#76767 is lightest possible for a11y)
// ============================================

.text-muted {
  color: $gray-light !important;
}

// ==============================
// BS4 bold uses 700 weight
// ==============================

.font-weight-semibold {
  font-weight: 600 !important;
}
