// DUL Custom Styles for Stuff That Appears in the Layout Builder
// and page preview Edit UI
// -----------------------------------------------------------------------------
#layout-builder {

  /* Fix how hoverable Edit buttons (pencil icons) flow */
  .layout-builder-block {
      overflow: auto;
  }
}

/* Correct some odd styles in the right-hand drawer */
#drupal-off-canvas {
  .js-layout-builder-categories {
    .card-body {
      padding: 1.25rem 0 0.5rem 0;
    }
    ul, ol {
      /* Tweak styles for block lists so the live-filter    */
      /* displays items correctly when using the search box */
      li.nav-item {
        width: 100%;
        display: block;
        padding: 0;
        border-bottom: none;
        a {
          margin: 0.25rem 0;
          display: inline-block;
          padding: 0;
        }
      }
    }
  }
  input[type="text"] {
    width: 243px;
    height: 22px;
    background: #fff;
    color: #000;
    line-height: 16px;
    padding: 3px;
    font-size: 16px;
  }

  /* Hide the built-in Layout Builder layouts        */
  /* because they don't play nicely with Bootstrap.  */
  /* Note there are modules to manage suppressing    */
  /* layouts but they add complexity & dependencies. */
  ul.layout-selection li {
    border-bottom: none;
    padding-bottom: 0;
    a[href$="layout_onecol"],
    a[href$="layout_twocol_section"],
    a[href$="layout_threecol_section"],
    a[href$="layout_fourcol_section"] {
      display: none;
    }
  }
}

/* Distinguish the circular pencil edit icons for pages vs. blocks */
.contextual-region {
  &.page {
    > .contextual {
        .trigger, .contextual-links {
          border-color: $success;
        }
        &.open {
          .trigger {
            border-bottom-color: transparent;
          }
        }
    }
  }
}
