// Main: Container
// -----------------------------------------------------------------------------

main.container {
  
  // make top padding the same as the left-outer padding
  padding-top: 30px !important;

  // remove right-padding from content column
  .order-lg-2.col-lg-10 {
    @include media-breakpoint-up(lg) {
      padding-right: 0;
    }
  }

}
