.dul-layouts-asidebox-option {

  /* menus */
  ul.nav:not(.contextual-links) {
    display: block;
    a.nav-link {
      padding: 0.5rem 1rem 0.5rem 0;
      font-weight: 600;
      line-height: 1.2em;
      &:not(:hover) {
        color: $dark;;
      }
      &.is-active {
        border-left: .5rem solid $dandelion;
        padding-left: .75rem;
        margin-left: -1.25rem;
        margin-right: -1.25rem;
        background: $whisper-gray;
      }
    }
    & .nav { /* nested nav links */
      a.nav-link {
        font-weight: normal;
        font-size: 90%;
        padding-left: .5rem;
        &.is-active {
          padding-left: 1rem;
        }
      }
    }
  }

}
