{#
/**
 * @file
 * Template for a Figure.
 * Local DUL customization of Radix template:
 * https://github.com/radixtheme/radix/blob/8.x-4.x/templates/field/filter-caption.html.twig
 *
 * This fixes the Drupal Media Library caption feature per DS-765.
 *
 * Explanation of the Radix bug here: https://www.drupal.org/project/radix/issues/3201877
 */
#}
{% include '@drupal9_dulcet/figure/figure.twig' with {
  image: node,
  caption: caption,
  utility_classes: classes|split(' '),
} %}

