// MegaMenu Placeholder Styles (to prevent FOUC)
// -----------------------------------------------------------------------------

/* SCA NOTE: this is challenging to maintain. Eventually, we should */
/* develop a new approach to a shared masthead links/menu UI, or at */
/* least refactor this so the same styles can be applied to the     */
/* static and dynamically loaded versions. */

#zone-masthead {
  height: 105px !important;
}

#dul-masthead-filler {
  background: #053482;
  padding-top: 0;
  height: 105px !important;
  padding-left: 0;
  padding-right: 0;
  max-width: 1330px;
}

#dul-masthead-filler .dul-logo img {
  margin-top: 15px;
  width: 130px;
}

#dul-masthead-region-megamenu-temp-mobile label {
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding-top: 2px;
  padding-left: 20px;
}

.dul-masthead-region-myaccount {
    clear: none;
    display: block;
    float: right;
    font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
    font-size: 13px;
    height: 24px;
    line-height: 19.6000003814697px;
    margin-bottom: 0px;
    margin-right: 10px;
    margin-top: 15px;
    padding-bottom: 6px;
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 0px;
    position: relative;
    text-align: left;
    vertical-align: baseline;

    a {
        color: #94AFED;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        display: inline-block;
        margin-left: 15px;
        &:before {
          content: " ";
          background-repeat: no-repeat;
          height: 20px;
          width: 18px;
          display: inline-block;
          vertical-align: top;
          margin-right: 5px;
        }
        &:hover, &:focus {
          color: #aac1f7;
        }
    }

    #dul-masthead-myAccounts:before {
        background-image: url("../../images/masthead/user-94AFED-17x16.png");
    }

    #dul-masthead-ask-librarian-link:before {
        background-image: url("../../images/masthead/comment-94AFED-18x15.png");
    }

    #dul-masthead-account-hours:before {
        background-image: url("../../images/masthead/clock-94AFED-16x16.png");
    }

    #dul-masthead-website-search-link:before {
        background-image: url("../../images/masthead/search-94AFED-16x16.png");
    }

}


.dul-masthead-mega_toplevel-temp a {
  color: #fff;
  font-size: 16px;
}

.dul-masthead-mega_toplevel-temp a:hover {
  text-decoration: none;
}

.dul-masthead-mega_toplevel-temp:hover {
  background: #a1b70d;
  border-top: 4px solid #6c7b09;
  margin-top: -4px !important;

  a {
    color: #222;
  }
}

#dul-masthead-region-megamenu-temp {
  display: none;
  float: right;
  padding: 0;
  clear: right;
}

.ul-masthead-mega_toplevel-temp {
  display: inline-block !important;
  margin: 3px 0 0 0;
  padding: 3px 9px 4px 9px;
  font-size: 12px;
}

#dul-masthead-filler #region-myaccount a {
  color: #94afed;
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;
  display: inline-block;
  margin-left: 12.4px;
}

#dul-masthead-nav-trigger-btn {
  color: #fff;
  font-size: 19px;
  margin-top: 5px !important;
  margin-left: 0 !important;
  border: 0 !important;
  padding: 6px 6px 6px 0 !important;
}

#dul-masthead-dul-megamenu {
  margin-bottom: 0 !important;
}

#dul-masthead-mobile-menu {
  background: #fff;
  z-index: 9999999;
  border: 1px solid #999;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  padding: 20px;
  padding: 10px 30px 10px 10px;

  li {
    list-style: none;
  }

}

@include media-breakpoint-up(md) {

  #mast {
    padding-left: 15px;
    padding-right: 15px;
  }

  #dul-masthead-region-megamenu-temp-mobile {
    display: none;
  }

  #dul-masthead-filler  #account-hours,
  #dul-masthead-filler  #account-hours a,
  #dul-masthead-filler  #website-search-link,
  #dul-masthead-filler  #website-search-link a {
    display: none !important;
  }

  #dul-masthead-region-megamenu-temp {
    display: block !important;
    float: right;
    margin: 20px 0 4px 0;
    padding: 0;
    clear: right;
  }


  #dul-masthead-region-megamenu .dul-masthead-mega_toplevel,
  #dul-masthead-region-megamenu-temp .dul-masthead-mega_toplevel-temp {
    display: inline-block !important;
    margin: 3px 0 0 0;
    padding: 3px 6.5px 4px 6.5px;
    font-size: 12px;
  }


  #region-scoped-search,
  #region-scoped-search-temp {
      float: right;
      display: block !important;
      padding: 15px 15px 0 15px;
  }

  #region-scoped-search-temp form {
    margin-bottom: 0;
  }

  #region-scoped-search-temp .dul-masthead-mastSearchBox {
    width: 136px;
    height: 32px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 6px;
    padding-top: 4px;
    vertical-align: bottom;
    transition: width 1s;
    -webkit-transition: width 1s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
  }

  #region-scoped-search-temp .dul-masthead-btn-group {
      display: inline;
  }

  #region-scoped-search-temp button.dul-masthead-btn {
      width: 38px;
      height: 32px;
      border: 0;
      cursor: pointer;
      border-left: 2px solid #6c7b09;
      background: #a1b70d url("../../images/masthead/search-222.png") center no-repeat;
      background-size: 55%;
      position: relative;
      right: 5px;
      bottom: 0;
      vertical-align: bottom;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
  }
}

a#dul-logo-link {
  margin-left: 0 !important;
  margin-top: 15px !important;
}

.dul-masthead-region-scoped-search,
#region-scoped-search-temp {
  padding-right: 0 !important;
}

li.dul-masthead-mega_toplevel,
li.dul-masthead-mega_toplevel-temp {
  > a {
    font-size: 16px !important;
    font-weight: normal !important;
  }
}  


@include media-breakpoint-down(md) {

  img#dul-masthead-logo {
    width: 130px;
    float: none;
  }

  #dul-masthead-region-megamenu,
  #dul-masthead-region-megamenu-temp {
    float: none !important;
    clear: both !important;
    margin: 0 !important;
    padding-top: 5px !important;
  }

  ul.dul-masthead-megamenu,
  ul.dul-masthead-megamenu-temp {
    display: flex !important;
    padding: 0 !important;
    float: none !important;
    width: 100% !important;
    > li {
      flex-grow: 1 !important;
      margin-top: 0 !important;
      padding: 3px 9px 4px 0 !important;
      &:hover {
        padding-left: 9px !important;
        padding-right: 0 !important;
      }
    }
    /* All except first, in order to get left-alignment w/logo */
    /* see https://stackoverflow.com/a/8539107 */
    > .dul-masthead-mega_toplevel ~ .dul-masthead-mega_toplevel,
    > .dul-masthead-mega_toplevel-temp ~ .dul-masthead-mega_toplevel-temp {
      padding-left: 9px !important;
      padding-right: 9px !important;
    }
  }

  #dul-masthead-dul-megamenu .dul-masthead-no-touch ul li.dul-masthead-mega_toplevel:hover {
    border-top: 4px solid #6c7b09;
    margin-top: -4px !important;
  }

  #dul-masthead-dul-megamenu .dul-masthead-megamenu_container div.dul-masthead-dropdown_fullwidth {
    margin-top: 3px !important;
  }

}

@media (min-width: 813px) {
  #dul-masthead-region-megamenu .dul-masthead-megamenu_container
    ul li.dul-masthead-megamenu_button {
      display: none !important;
  }

  .dul-masthead-region-myaccount {
    display: flex !important;
  }

  #dul-masthead-account-hours,
  #dul-masthead-website-search-link {
    display: none !important;
  }

  #dul-masthead-nav-trigger-btn {
    display: none !important;
  }

}

@media (max-width: 812.98px) {
  .dul-logo {
    margin-bottom: 5px;
  }

  #dul-masthead-region-megamenu,
  #dul-masthead-region-megamenu-temp {
    display: none;
  }

  .dul-masthead-region-scoped-search,
  #region-scoped-search-temp {
    display: none !important;
  }

  .dul-masthead-region-myaccount {
    display: block !important;
    float: right !important;
    clear: right !important;
    margin-top: 15px !important;
    margin-right: 0 !important;
    padding-right: 10px !important;
    height: auto !important;
    a {
      display: block !important;
      line-height: 19.6000003815px !important;
    }
  }


}

@include media-breakpoint-up(lg) {


  #dul-masthead-filler .dul-logo {
    float: left;
  }

  #dul-masthead-filler .dul-logo img {
    margin-left: 0;
    margin-top: 15px;
    width: 130px;
  }

  #dul-masthead-region-megamenu-temp {
    float: right;
    margin: 15px 0 0 0;
    padding: 0;
    clear: right;
  }

  #dul-masthead-region-megamenu-temp .dul-masthead-megamenu-temp {
    display: flex;
    padding: 0 20px 0 0;
    margin: 0;
  }

  #dul-masthead-region-megamenu-temp .dul-masthead-mega_toplevel-temp {
    display: inline-block !important;
    padding: 4px 12px 4px 12px;
    margin: 0;
  }

  #region-scoped-search-temp {
    padding-top: 15px;
  }

  #dul-masthead-region-megamenu-temp {
    display: block;
  }

  #region-scoped-search-temp {
    display: block;
  }

  .dul-masthead-mega_toplevel-temp a {
  }

  #dul-masthead-filler .dul-logo img {
    width: auto;
  }

}
