/* Weekly Hours Display */
/* -------------------------------------------------------------------------- */

#weekly-nav {
  margin-bottom: .5rem;
}

#weekly-nav #prevBtn {
  margin-right: .5rem;
}


/* Weekly Hours Table */

#dul-hours-table .dukeusers {
	font-weight: 1.0em;
	color: #111;
}
#dul-hours-table div.hours {
	float: right;
	text-align: right;
}
#dul-hours-table div.dukeusers span.title {
	color: #111;
}
#dul-hours-table div.genpublic {
	text-align: right;
	color: #555;
}
#dul-hours-table div.today {
	background-color: #F3F3F3;
}

#dul-hours-table.table thead th,
#dul-hours-table.table tr td,
.sticky-header th {
  text-align: center;
  vertical-align: middle;
  min-width: 120px;
  padding: 8px;
}

th.sticky {
  position: sticky;
  top:0;
}

#dul-hours-table.table tbody tr th {
  text-align: left;
  line-height: 1.3;
  min-width: 190px;
  height: 60px;
  vertical-align: middle;
  padding: 8px;
}

#dul-hours-table.table tbody tr th a {
  padding-top: 15px;
  padding-bottom: 15px;
}


#dul-hours-table tr.odd td.today,
#dul-hours-table tr:nth-of-type(odd) td.today {
  background-color: #03204e;
  color: #fff;
  border: 1px solid rgba(3,32,81,1);
}

#dul-hours-table tr.even td.today,
#dul-hours-table tr:nth-of-type(even) td.today  {
  background-color: #053482;
  color: #fff;
  border: 1px solid rgba(3,32,81,1);
}

.s-lc-mhw-day.lc_today {
  background-color: #053482;
  border: 1px solid rgba(3,32,81,1);
}

.s-lc-mhw-day.lc_today .s-lc-mhw-day-l,
.s-lc-mhw-day.lc_today .s-lc-mhw-loc {
  color: #fff;
}

.s-lc-mhw-sub-loc {
  border-top: 1px solid #eee;
  margin-top: 1rem;
  padding-top: 1rem;
  font-style: italic;
}

.s-lc-mhw-sub-loc .s-lc-time,
.s-lc-mhw-sub-loc .s-lc-closed {
  font-size: 15px;
}

.s-lc-mhw-loc .s-lc-mhw-loc-name {
  display: none;
}

.s-lc-mhw-loc.s-lc-mhw-sub-loc .s-lc-time::before,
.s-lc-mhw-loc.s-lc-mhw-sub-loc .s-lc-closed::before  {
   content: 'public: '
 }
 
/* hide main content for gen public */

.public-month .s-lc-time,
.public-month .s-lc-closed {
  display: none;
}

.public-month .s-lc-mhw-sub-loc {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
  font-style: normal;
}

.public-month .s-lc-mhw-loc.s-lc-mhw-sub-loc .s-lc-time,
.public-month .s-lc-mhw-loc.s-lc-mhw-sub-loc .s-lc-closed  {
   font-size: 20px;
   display: block;
 }

.public-month .s-lc-mhw-loc.s-lc-mhw-sub-loc .s-lc-time::before,
.public-month .s-lc-mhw-loc.s-lc-mhw-sub-loc .s-lc-closed::before  {
   content: ''
 }
